In [1]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import numpy as np
import pandas as pd

In [5]:
#help(pd.Series)

In [6]:
myIndex = ['USA', 'CANADA', 'MEXICO']
myData = [1234,1443,5443]

In [7]:
mySeries = pd.Series(data=myData)

In [8]:
mySeries

0    1234
1    1443
2    5443
dtype: int64

In [9]:
type(mySeries)

pandas.core.series.Series

In [10]:
mySeries = pd.Series(data=myData, index=myIndex)

In [11]:
mySeries

USA       1234
CANADA    1443
MEXICO    5443
dtype: int64

In [15]:
mySeries['CANADA']
#mySeries[1]

1443

In [24]:
#pandas indentifies dict key as index and its content as value
ages = {
    'Sam' : 5,
    'Mukund' : 21,
    'Somil' : 25
}

In [25]:
x = pd.Series(ages)

In [26]:
print(x)

Sam        5
Mukund    21
Somil     25
dtype: int64

In [27]:
x['Somil']

25

In [48]:
#Sales data
q1 = {
    'INDIA' : 90,
    'CHINA' : 120,
    'BRAZIL' : 50,
    'USA' : 80
}
q2 = {
    'USA' : 120,
    'INDIA' : 200,
    'AUSTRALIA' : 210,
    'CHINA' : 80
}

In [49]:
#Convert the following dict. into pandas series data structure
q1_sales = pd.Series(q1)
q2_sales = pd.Series(q2)

In [50]:
q1_sales

INDIA      90
CHINA     120
BRAZIL     50
USA        80
dtype: int64

In [51]:
q2_sales

USA          120
INDIA        200
AUSTRALIA    210
CHINA         80
dtype: int64

In [52]:
q2_sales['USA']

120

In [53]:
q1_sales['INDIA']

90

In [54]:
q1_sales.keys()

Index(['INDIA', 'CHINA', 'BRAZIL', 'USA'], dtype='object')

In [55]:
np.array([1,2]) * 3

array([3, 6])

In [56]:
#operations in pandas
q1_sales * 2

INDIA     180
CHINA     240
BRAZIL    100
USA       160
dtype: int64

In [57]:
q2_sales

USA          120
INDIA        200
AUSTRALIA    210
CHINA         80
dtype: int64

In [58]:
q2_sales/10

USA          12.0
INDIA        20.0
AUSTRALIA    21.0
CHINA         8.0
dtype: float64

In [59]:
q1_sales + q2_sales

AUSTRALIA      NaN
BRAZIL         NaN
CHINA        200.0
INDIA        290.0
USA          200.0
dtype: float64

In [62]:
first_half = q1_sales.add(q2_sales, fill_value=0)

In [63]:
first_half.dtype

dtype('float64')

In [64]:
first_half

AUSTRALIA    210.0
BRAZIL        50.0
CHINA        200.0
INDIA        290.0
USA          200.0
dtype: float64